Repository unfoldingWord-dev/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$

add electronite.patches
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/electron.d.ts
  docs/development/Electronite/electronite-tools.bat
  docs/development/Electronite/electronite-tools.sh
  docs/development/Electronite/electronite.patch
  docs/development/Electronite/step.bat
  docs/development/Electronite/step.sh
  patches/chromium/.patches
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

updated Mac build notes for build-tools
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

updated Wndows build notes for build-tools
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

updated build notes for build-tools
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

updated Wndows build notes for build-tools
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

updated paths to v18
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix patches
  DEPS
  docs/development/Electronite/WindowsBuildNotes.md
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

added old build scripts for reference
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
Due: run-docs-only

added old build scripts for reference
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
Due: run-docs-only

link newer build notes to older build scripts
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

link newer build notes to older build scripts
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
Due: run-docs-only

add electronite patches
  DEPS
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
  docs/development/Electronite/electron.d.ts
  docs/development/Electronite/electronite-tools.bat
  docs/development/Electronite/electronite-tools.sh
  docs/development/Electronite/electronite.patch
  docs/development/Electronite/step.bat
  docs/development/Electronite/step.sh
  patches/chromium/.patches
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

updated versions to v18.2.1
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/electronite.patch
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

update windows build instructions
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

update linux build instructions
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

update linux build notes
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

update windows build notes with arm64 build steps
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

update electron.d.ts
  docs/development/Electronite/electron.d.ts
Due: run-docs-only

update electron.d.ts for electronite
  docs/development/Electronite/electron.d.ts
Due: run-docs-only

added electronite fixes
  .gitignore
  DEPS
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
  docs/development/Electronite/electron.d.ts
  docs/development/Electronite/electronite-tools.bat
  docs/development/Electronite/electronite-tools.sh
  docs/development/Electronite/electronite.patch
  docs/development/Electronite/step.bat
  docs/development/Electronite/step.sh
  patches/chromium/.patches
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

replace tag links with relative links
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
Due: run-docs-only

optimized build steps by removing sync of electron main branch, but go direct to checkout electronite branch
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

Revert "optimized build steps by removing sync of electron main branch, but go direct to checkout electronite branch"
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

tweak build steps
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

tweak build instructions for new version and update electron.d.ts
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/electron.d.ts
Due: run-docs-only

tweak build instructions for macos
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

tweak build instructions for Linux
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

copied electronite files from older version.
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
  docs/development/Electronite/electron.d.ts
  docs/development/Electronite/electronite-tools.bat
  docs/development/Electronite/electronite-tools.sh
  docs/development/Electronite/electronite.patch
  docs/development/Electronite/step.bat
  docs/development/Electronite/step.sh
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

updated electron.d.ts
  docs/development/Electronite/electron.d.ts
Due: run-docs-only

docs
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

applied graphite patches manually
  DEPS
  docs/development/Electronite/electronite.patch
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

update add_graphite.patch manually
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only=false
