Repository unfoldingWord-dev/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix notes
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

fix notes
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

added graphite to electron.
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
  docs/development/Electronite/electron.d.ts
  docs/development/Electronite/electronite-tools.bat
  docs/development/Electronite/electronite-tools.sh
  docs/development/Electronite/electronite.patch
  docs/development/Electronite/step.bat
  docs/development/Electronite/step.sh
Due: run-docs-only

apply graphite patches.
  DEPS
  patches/chromium/.patches
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

added graphite to electron.
  DEPS
  docs/development/Electronite/ElectroniteBuildNotes.md
  docs/development/Electronite/ElectroniteCurrentVersionBuildNotes.md
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/MacBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/WindowsBuildNotesChromeTools.md
  docs/development/Electronite/electron.d.ts
  docs/development/Electronite/electronite-tools.bat
  docs/development/Electronite/electronite-tools.sh
  docs/development/Electronite/electronite.patch
  docs/development/Electronite/step.bat
  docs/development/Electronite/step.sh
  patches/chromium/.patches
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixed patch.
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

reverting build instructions back to using old chrome build tools since e tools only work for x64 now
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/electronite-tools-2.bat
  docs/development/Electronite/electronite-tools-2.sh
  patches/chromium/add_graphite.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixes for script files
  docs/development/Electronite/electronite-tools-2.bat
  docs/development/Electronite/electronite-tools-2.sh
Due: run-docs-only

fixes from v19
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/electronite-tools-2.bat
  docs/development/Electronite/electronite-tools-2.sh
Due: run-docs-only

update linux build notes
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

fix notes
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/electronite-tools-2.sh
Due: run-docs-only

fix Linux build notes
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

fix windows build notes
  docs/development/Electronite/electronite-tools-2.bat
Due: run-docs-only

fix windows build notes
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

fix graphite to build in Electron v20
  docs/development/Electronite/electronite.patch
  patches/chromium/.patches
  patches/chromium/add_graphite.patch
  patches/chromium/add_graphite_cpp_std_iterator.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

tweak std::iterator patch
  patches/chromium/add_graphite_cpp_std_iterator.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

remove application of add_graphite_cpp_std_iterator.patch from chromium/.patches. Graphite source not yet loaded.
  docs/development/Electronite/electronite.patch
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add instructions to manually apply graphite patch
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/add_graphite_cpp_std_iterator.patch
Due: run-docs-only

fix instructions to manually apply graphite patch
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/add_graphite_cpp_std_iterator.patch
Due: run-docs-only

fix instructions to manually apply graphite patch
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

fix instructions to manually apply graphite patch
  docs/development/Electronite/WindowsBuildNotes.md
Due: run-docs-only

fix instructions to manually apply graphite patch
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

fix setup instructions
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

fix setup instructions
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/electronite-tools-2.bat
Due: run-docs-only

fix setup instructions
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

update setup instructions
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/LinuxBuildNotesChromeTools.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/add_graphite_cpp_std_iterator.patch
  docs/development/Electronite/electronite-tools-2.bat
  docs/development/Electronite/electronite-tools-2.sh
Due: run-docs-only

update setup instructions
  docs/development/Electronite/LinuxBuildNotes.md
Due: run-docs-only

update setup instructions
  docs/development/Electronite/MacBuildNotes.md
Due: run-docs-only

update branch version
  docs/development/Electronite/LinuxBuildNotes.md
  docs/development/Electronite/MacBuildNotes.md
  docs/development/Electronite/WindowsBuildNotes.md
  docs/development/Electronite/add_graphite_cpp_std_iterator.patch
Due: run-docs-only

fix switch in scripts
  docs/development/Electronite/electronite-tools-2.bat
  docs/development/Electronite/electronite-tools-2.sh
Due: run-docs-only

fix switch in scripts
  docs/development/Electronite/electronite-tools-2.bat
Due: run-docs-only

remove switch in scripts - problems
  docs/development/Electronite/electronite-tools-2.bat
  docs/development/Electronite/electronite-tools-2.sh
Due: run-docs-only

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
